*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}

ul, ol{
    list-style-type: none;
    padding-left: 0;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/* Common--Root */

:root{
    --main_color: #1BBF00;
    --secondary-color: #E6E5F3;
    --text-color: #141135;
    --paprika-color: #726E9E;
    --primary-sec: #F6F5FF;
    --hover-color: #6001D3;
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font: 'Paprika', cursive;
    --rare-font: 'Nunito', sans-serif;
}

/* Navbar */

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-toggler i{
    color: #fff;
}

.navbar{
    background-color:  rgb(22, 12, 109, 0.5);
    padding: 30px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}


nav .button a{
    background-color: #1BBF00;
    padding: 14px 28px;
    border-radius: 50px;
    color: #fff;
    text-transform: capitalize;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px 21px;
    text-transform: capitalize;
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 18px;
    color: #EFF4FA;
    transition: all linear .3s;
    
}

.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--main_color);
}

.navbar-expand-lg .navbar-nav .nav-link i:hover{
    color: #fff;
}

/* Banner */


#banner .overlay{
    background: rgb(107, 98, 197, 0.9);
    padding-top: 246px;
    padding-bottom: 254px;
}

#banner .banner_content h1{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 83px;
    text-align: center;
    color: #FAFAFE;
    margin-bottom: 20px;
}

#banner .banner_content p{
    font-family: 'Paprika';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #E6E5F3;
    padding-left:58px ;
    padding-right:58px ;
    line-height: 40px;
}

.banner-btn a{
    display: inline-block;
    margin-top: 16px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 20px 40px;
    border-radius: 100px;
    margin-left: 14px;
    margin-right: 14px;
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
}

.banner-btn a:last-child{
    background: transparent;
    border: 2px solid var(--main_color);
}

.banner-btn a:hover{
    background-color: var(--main_color);
    border-color: var(--main_color);
}

/* client_section */

#client .container{
    padding-top: 283px;
    padding-bottom: 283px;
    
}

.client_content{
    border-right: 2px solid gray;
}

#client .row .col-lg-3:last-child .client_content{
    border-right: none;
}



.client_content h2{
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 63px;
    color: #1BBF00;
    margin-bottom: 24px;
}

.client_content h4{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 30px;
    color: #141135; 
}

.banner_element_one picture{
    position: absolute;
    right: 189px;
    top: 725px;

}


.banner_element_two picture{
    display: flex;
    flex-direction: column;
    width: 109px;
    position: absolute;
    top: 382px;
    left: 29px;
}

#client{
    position: relative;
}

.client_element picture img{
    position: absolute;
    top: 0;
    right: 0;
}

/* choose part start */



/* choose part end */
#choose{
    position: relative;
}
.choose_element img{
    position: absolute;
    top: 0;
    left: 0;
}

#choose{
    padding-top: 92px;
    padding-bottom: 100px;
    background-color: #FDFDFD;;
}

#choose .container{
    position: relative;
    z-index: 2;
}

.choose_left_circle{
    width: 10%;
}
.choose_left_content{
    width: 90%;
}

.choose_left_circle_object{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--main_color);
    position: relative;
}

.choose_left_circle_object::after{
    content: "";
    background-color: #CBC8F0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 10px;

}

.choose_left_content{
    padding-right: 153px;
}

.choose_left_content p{
font-family: 'Paprika';
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #726E9E;
box-sizing: border-box;
}

.choose_left:hover{
background: #FFFFFF;
box-shadow: 10px 30px 60px rgba(162, 169, 192, 0.15);
border-radius: 12px;
padding-top: 42px;
padding-bottom: 42px;
transition: all linear 0.3s;
}

.choose_left:hover:nth-child(3){
    margin-bottom: 17px;
}

/* .choose_left:first-child{
    margin-bottom: 32px;
} */

.choose_left:nth-child(3){
    margin-bottom: 0px;
}

.choose_left:last-child{
    margin-bottom: 0px;
    margin-top: 0px;
}
.choose_left{
    margin-bottom: 17px;
}

.choose_right_content h2{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 48px;
    color: #141135;
    text-transform: capitalize;
}

.choose_right_content p{
    font-family: 'Paprika';
    font-weight: 400;
    font-size: 18px;
    color: #726E9E;
    margin-top: 9px;
    margin-bottom: 41px;
}


.choose_right button{
padding: 20px 40px;
background: #1BBF00;
border-radius: 100px;
border: none;
color: #F9F9F9;

font-family: 'Open Sans';

font-weight: 700;
font-size: 20px;
}

.choose_right_content{
    padding-right: 100px;
}


/* choose part end */

/* Service part start */

#service{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F6F5FF;;
}
.service-start h3{
font-family: 'Open Sans';
font-weight: 700;
font-size: 48px;
color: #141135;
}

.service-start p{
    margin-top: 20px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #6C7D93;
    text-align: justify;
}

.service-start button{
    margin-top: 56px;
    padding: 20px 40px;
    background: #1BBF00;
    border-radius: 100px;
    border: none;
    color: #F9F9F9;
    
    font-family: 'Open Sans';
    
    font-weight: 700;
    font-size: 20px;
}



.service-content h4{
    margin-top: 32px;
font-family: 'Open Sans';
font-weight: 700;
font-size: 30px;
color: #141135;
}

.service-content:hover h4{
    color:  #FAFAFE;
}

.service-content:hover p{
    color:  #FAFAFE;
}

.service-content:hover a{
    color:  #FAFAFE;
}

.service-content p{
    margin-top: 32px;
    font-family: 'Paprika';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #726E9E;
    padding-right: 20px;
    padding-left: 20px;
}

.service-content a{
display: inline-block;
margin-top: 20px;
font-family: 'Open Sans';
font-weight: 700;
font-size: 18px;
color: #141135;
padding: 8px 10px;
overflow: hidden;
border-radius: 100px;
position: relative;
z-index: 1;


}

.service-content a::after{
    content: '';
    position: absolute;
    background-color: rgba(25, 191, 0, 0.302);
    padding: 8px 10px;
    top: 0;
    left: 87px;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all linear 0.3s;

}




.service-box{
    background-color: #fff;
    padding: 48px 52px 48px 52px;
    border-radius: 20px;
    box-shadow: 0px 30px 60px rgba(162, 169, 192, 0.1);
    transition: all linear 0.3s;
}

.service-content a:hover::after{
    left:0;
}

.service-box:hover{
    background-color: #6B62C5;
}

/* Service part end */

/* create part start */

#create{
    position: relative;
}

#create .outside{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.create_header h2{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 48px;
    color: #141135;
}

.create_header p{
    margin-top: 23px;
    font-family: 'Paprika';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #726E9E;
}

.inner_create_content h5{
    font-family: 'Open Sans';
font-weight: 700;
font-size: 30px;
letter-spacing: 0.5px;
color: #141135;
}

.inner_create_content p{
    margin-top: 20px;
    font-family: 'Paprika';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #726E9E;
}

/* create part end */

/* blog part start */

#blog{
    padding-bottom: 100px;
}

.blog_image{
    border-radius: 20px;
    overflow: hidden;
}

.blog-header{
    margin-bottom: 62px;
}
.blog-header h2{
 font-family: 'Open Sans';
font-weight: 700;
font-size: 50px;
color: #030314;
}

.inner-blog-top ul li:nth-child(2){
    margin: 0 15px;
}

.inner-blog-top li a{
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #726E9E;
}

.inner-blog-top li:first-child a{
    color: #1BBF00;;
}

.inner-blog-btm h3{
font-family: 'Open Sans';
font-weight: 700;
font-size: 30px;
color: #141135;
margin-bottom: 16px;
}

.inner-blog-btm a{
    display: inline-block;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 18px;
    color: #141135;
    padding: 8px 10px;
    overflow: hidden;
    border-radius: 100px;
    position: relative;
    z-index: 1;
    
    
    }
    
    .inner-blog-btm a::after{
        content: '';
        position: absolute;
        background-color: rgba(25, 191, 0, 0.302);
        padding: 8px 10px;
        top: 0;
        left: 87px;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all linear 0.3s;
    
    }

    .inner-blog-btm a:hover::after{
        left:0;
    }

/* blog part end */

/* plan part start */

#plan{
    background-color: #F9F9FB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.plan_content{
    background: #FFFFFF;
box-shadow: 0px 30px 60px rgba(162, 169, 192, 0.15);
border-radius: 20px;
padding-top: 60px;
padding-bottom: 60px;
transition: all linear 0.3s;
}

.plan_heading h2{
font-family: 'Open Sans';
font-weight: 700;
font-size: 48px;
color: #141135;
}

.plan_content h4{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
color: #141135;
margin-bottom: 26px;
}

.plan_image{
    margin-bottom: 20px;
}

.plan_rate h4{
font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 48px;
color: #1BBF00;
margin-bottom: 0;
}

.plan_content:hover{
    background-color: #6B62C5;
}

.plan_content:hover > h4{
    color: #FAFAFE;
}

.plan_content:hover p{
    color: #FAFAFE;
}

.plan_rate .sign{
font-family: 'Nunito';
font-style: normal;
font-weight: 800;
font-size: 24px;
color: #1BBF00;
}

.plan_content p{
font-family: 'Paprika';
font-style: normal;
font-weight: 400;
font-size: 18px;
text-align: center;
color: #726E9E;
padding-left: 90px;
padding-right: 90px;;
}

/* plan part end */

/* about part start */

#about{
    background-color: F8F8FF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about_title h2{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 48px;
color: #141135;
margin-bottom: 80px;
}

.about_box{
background: #FFFFFF;
box-shadow: -15px 30px 50px rgba(171, 175, 199, 0.301961);
border-radius: 20px; 
position: relative;

}

.about_circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #1BBF00;
    position: relative;
    overflow: hidden;
    margin-bottom: -22px;
    top: -60px;
    left: 0;
}

.about_circle img{
    position: absolute;
    top: -3px;
    left: -16px;
}

.about_icon{
    width: 110px;
    height: 30px;
}

.about_content p{
    margin-top: 20px;
font-family: 'Paprika';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 40px;
color: #726E9E;
padding-left: 215px;
padding-right: 215px ;
text-align: center;
margin-bottom: 45px;
}

.about_content h3{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 25px;
color: #221A2C;
margin-bottom: 4px;
}

.about_content p:last-child{
font-family: 'Paprika';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #726E9E;
margin-top: 0;
padding-bottom: 20px;
}

/* about part end */

/* footer part start */

#footer{
    background-color: #48409C;
    padding-top: 140px;
    padding-bottom: 57px;
}

.footer_logo{
    margin-bottom: 44px;
}

.footer_content p{
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 180%;
/* or 32px */

text-transform: capitalize;

color: #FEFEFE;

opacity: 0.9;
padding-right: 50px;
}

.footer_menu h3{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
color: #FEFEFE;
margin-bottom: 48px;
}

.footer_menu p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FEFEFE;
    margin-bottom: 30px;
}

.footer_btm p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;


color: #FEFEFE;

opacity: 0.9;
}



.footer_right p{
    font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
color: #FEFEFE;

opacity: 0.9;
text-align: end;
}

/* footer part end */